.border-space {
	padding: 15.0px 15.0px 15.0px 15.0px;
}

button {
	background-color:transparent;
}

#logo {
	width: 100.0px;
	max-height: 100.0px;
}

#moi {
	border-radius:25.0px;
	width: 40.0px;
	max-height: 40.0px;
	float:left;
}

i:hover {
	cursor: pointer;
}.bg1 {
	background-color: red;
}.bg2 {
	background-color: rgb(79,129,189);
	position: relative;
}
.arrondi {
	border-radius:25.0px;
}

.menu{
	background-color: rgb(79,129,189);
	color:white;
}

.menu:focus{
	background-color: rgb(55,96,146);
	color:white;
}

.parent{
	width:100%;
	height:100%;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

.btn{
	background-color: rgb(79,129,189);
	color:white;
}

a.list-group-item, button.list-group-item {
    color: #fff;
}

.h2-margin{
	margin-top: 20px;
	margin-bottom: 10px;
}


.table > thead > tr > th {
  background-color: rgb(79,129,189);
  color:white;
  text-align:center;
}

.table > tbody > tr > td{
  text-align:center;
}

.empty-btn{
	background-color: transparent;
	border-color:transparent;
}

